<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>To Do List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-icon name="list" size="large" slot="end"></ion-icon>
    <ion-header>
      <ion-card-title>Our Gaffs ToDo's</ion-card-title>
        <ion-card-subtitle>Please Check The Box If Task Is Completed</ion-card-subtitle>
    </ion-header>
    <ion-card-content>
      <ul>
        <li>
          Bring Out The Bins <ion-checkbox checked={true}><br> <p>Username:Keaner</p></ion-checkbox>
        </li>
        <li>
          Change Lightbulbs Upstairs<ion-checkbox></ion-checkbox>
        </li>
        <li>
          Empty The Dishwasher <ion-checkbox checked={true}> Username:Ossian</ion-checkbox>
        </li>
        <li>
          Ring Virgin Media About The Wifi <ion-checkbox></ion-checkbox>
        </li>
        <li>
           Ring Landlord About Washing Machine <ion-checkbox></ion-checkbox>
        </li>
        <li>
          Get A spare Key Cut <ion-checkbox checked={true}></ion-checkbox>
       </li>
    </ul>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed"
  (click)="gotoAddToDo()">
    <ion-fab-button >
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>

</ion-fab>
</ion-content>