<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>To-Do List</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-header>
      <ion-card-title>Gaffs To-Do's</ion-card-title>
        <ion-card-subtitle>Get these tasks done</ion-card-subtitle>
    </ion-header>
    <ion-card-content>
      <ul *ngFor="let list of todoArray">
        <li>
          {{list.item}} <ion-icon class="del"item-right name="trash" tappable (click)="deleteTodo(this.list.id)"></ion-icon>
        </li>
    </ul>
    </ion-card-content>
  </ion-card>
 
<ion-card>
  <ion-card-header tappable (click)="collapseCard = !collapseCard">
    Add Task to list
    <ion-icon name="add"></ion-icon>
  </ion-card-header>

  <ion-card-content *ngIf="collapseCard">
    <ion-item>
      <ion-input type="text" autofocus="true" placeholder="Enter Task Here" [(ngModel)]="todoList.item"></ion-input>
    </ion-item>

    <ion-button padding expand="block" shape="round" (click)="addItem(this.todoList)"><ion-icon name="add"></ion-icon>Add</ion-button>
  </ion-card-content>
</ion-card>

</ion-content>