<ion-header>
  <ion-toolbar>
    <!--back button on top left of toolbar-->
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <!--Add button to right of toolbar. Goes to Add House page-->
      </ion-buttons>
    <ion-title>Add Member</ion-title>
  </ion-toolbar>
</ion-header>

<!--buttons to scan and create QR codes-->
<ion-content>

  <ion-button padding full icon-left (click)="createCode()"><ion-icon padding name="barcode"></ion-icon>  Create QR Code</ion-button>
  <br>
  <ion-button padding full icon-left (click)="scanCode()"><ion-icon padding name="qr-scanner"></ion-icon>  Scan QR Code</ion-button>

<ion-card *ngIf="createdCode">
  <ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode>
</ion-card>

<ion-card *ngIf="scannedCode">
  You have added this member to your house :)
</ion-card>


</ion-content>
