
ion-title{
    font-family: 'CalendarNote';
    font-size: 30px;
    color: #8CD1FF;
    text-align: center;
}

ion-toolbar{
    --background: linear-gradient(90deg, #8CD1FF 0%, #232ED1 60%);
  }
 ion-row, ion-button, .button {
   color: green($color: #69ff439a);
   background-color: green($color: #4eff3d9f);
 }
  .button{
   color:black;
   border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
 }
 input-wrapper{
  color: green($color: #69ff439a);
 }
.todayButton{
    --background: #55D6BE;
    color: black;
    opacity: 0.8;
    font-family: 'GothicCenturyBold';
}

ion-content{
    font-family: 'GothicCenturyBold';
    --background: url('../../assets/img/concreteBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  ion-card, .cc{
    background-color:transparentize($color:#55D6BE, $amount: 0.2);
    font-family: 'GothicCenturyBold';
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
  }
  .monthview-selected, td.monthview-current{
    background-color: blue;
  }

  ion-item{
    --background: rgba(49, 172, 255, 0.562);
    border-radius: 10px;
    font-family: 'GothicCenturyBold';
  }
ion-list{
  background-color: rgba(128, 255, 128, 0.541);
}
  .addEventButton{
      --backround:#232ED1;
      
      font-family: 'GothicCenturyBold';
  }

  .cal{
      background-color: green;
  }
