<ion-split-pane contentId="content">

<ion-menu contentId="content">
  
    <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>my gaff</ion-title>
          <ion-back-button slot="end"></ion-back-button>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <ion-item [routerLink]="p.url" routerDirection="root" (click)="refresh()">
              {{ p.title }}
              <ion-icon name="arrow-forward" class="menuIcon"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <img src="../../assets/img/logo.png">
      </ion-content>
</ion-menu>


<ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>

 
