.active-item{
    border-left: 8px solid var(--ion-color-primary);
}

ion-title{
    font-family: 'CalendarNote';
    font-size: 30px;
    color: white;
    text-align: center;
}

ion-item{
    --background:#7CEA9C;
    padding-left: 0px;
    padding-right: 0px;
    color: black;
}
ion-content{
    --background:url(../../assets/img/concreteBackground.jpg);
    vertical-align: top;
}
ion-list{
    --background:#2E5EAA;
    padding-top: 0;
    padding-bottom: 0;
}
ion-item{
    font-family: 'CalendarNote';
    font-size: 26px;
}
.menuIcon{
    position: absolute;
    right: 10px;
}


