<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>forum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngFor="let message of messagesArray">
        <ion-item class="item">
          <ul>
            <p class="mid">{{message.sender}}</p>
          <h2 class="mid">{{message.content}}</h2>
          <p class="date" >{{message.time}}</p>
          <img class="profile-img" src="../../assets/img/default.png">
        <ion-button class="deleteMessage"(click)="deleteMessage(this.message.id)"><ion-icon name="trash"></ion-icon></ion-button>
        </ul>
        </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>

<!--Footer with message input and send button-->
<ion-footer>
  <ion-input start item-left placeholder="Type message" [(ngModel)]="message.content">
    <ion-button end (click)="addMessage()"><ion-icon name="send"></ion-icon></ion-button>
  </ion-input>
</ion-footer>