<ion-header>
  <ion-toolbar>
    <!--back button on top left of toolbar-->
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <!--Add button to right of toolbar. Goes to Add House page-->
      </ion-buttons>
    <ion-title>Add House</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--inputs for house details-->
  <ion-card>
 <ion-item>
   <ion-label position="stacked">Name</ion-label>
   <ion-input [(ngModel)]="house.name"></ion-input>
 </ion-item>
 <ion-item>
    <ion-label position="stacked">Address</ion-label>
    <ion-input [(ngModel)]="house.address"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Eircode</ion-label>
      <ion-input [(ngModel)]="house.eircode"></ion-input>
    </ion-item>


    <ion-card color="primary">
      <ion-card-header tappable (click)="collapseCard = !collapseCard">Members:</ion-card-header>
      <ion-card-content *ngIf="!collapseCard">
        <ion-list>
          <ion-item>current user: {{currentUser.displayName}}</ion-item>
          <div *ngIf="house.members">
          <ion-item *ngFor="let member of house.members">{{member}}</ion-item>
          </div>
          <ion-button expand="block" shape="round" (click)="scanCode()">Add Member</ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </ion-card>
    <img src="../../assets/img/logo.png">
</ion-content>


<ion-footer>
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="addHouse(id)">
      Add House
      <ion-icon name="add" slot="end" class="addIcon" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
