<ion-header>
  <ion-toolbar>
    <!--back button on top left of toolbar-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!--Add button to right of toolbar. Goes to Add House page-->
    </ion-buttons>
    <ion-title slot="start">houseSelect</ion-title>
    <ion-button slot="end" (click)="goToAddPage()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!--has to be async in order to deal with observables-->
    <!--router link to be used to navigate to next page once house is clicked-->
    <ion-item button *ngFor="let house of (houses | async)" (click)="goToHouseDetailsPage()">
      {{ house.name }}
    </ion-item>
  </ion-list>

</ion-content>