<ion-header>
  <ion-toolbar>
    <!--back button on top left of toolbar-->
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
      <!--Add button to right of toolbar. Goes to Add House page-->
    </ion-buttons>
    <ion-title>Select House</ion-title>
    <ion-fab-button class="addButton" slot="end" size="small" (click)="goToAddPage()">
      <ion-icon name="add" position="centre" class="addIcon"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
  <ion-list>
    <!--has to be async in order to deal with observables-->
    <!--router link to be used to navigate to next page once house is clicked-->
    <ion-item button *ngFor="let house of (houses | async)" (click)="goToHouseDetailsPage(this.house)">
      <ion-icon class="listIcon" item-left name="exit"></ion-icon>
      {{ house.name }}
    </ion-item>
  </ion-list>
</ion-card>
<ion-card>
  <p padding>Please select a house from the list above, or add a new house</p>
  <img src="../../assets/img/logo.png">
</ion-card>

</ion-content>