ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'CalendarNote';
    font-size: 26px;
    color: black;
  }
  ion-card{
    background-color:transparentize($color:#55D6BE, $amount: 0.2);
    color: black;
    border-radius: 30px;
  }
  ion-content{
    font-family: 'GothicCenturyBold';
    --background: url('../../assets/img/concreteBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  ion-toolbar{
    --background: linear-gradient(90deg, #8CD1FF 0%, #232ED1 60%);
    color: white;
  }
  .selectButton{
    color: #55D6BE;
    --background: #2E5EAA;
  }
  .signOutButton{
    color: #2E5EAA;
    --background: #55D6BE;
  }
  .profileButton{
    --background: #7CEA9C;
    color: #232ED1;
  }
  h5{
    text-align: center;
  }
  p{
    color:#FFFAF0;
  }

  .firebase{
    font-size: 50px;
  }



  
