ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 0px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'CalendarNote';
    font-size: 23px;
    color: white;
  }

  ion-toolbar{
    --background: linear-gradient(90deg,  #7CEA9C 0%, #232ED1 35%); //#55D6BE 100%);
    color: white;
  }

  ion-button{
    --background: linear-gradient(110deg,  #7CEA9C 0%, #232ED1 35%);
  }