<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shopping List</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-icon name="list" size="large" slot="end"></ion-icon>
    <ion-header>
      <ion-card-title>Shopping List</ion-card-title>
        <ion-card-subtitle>Get these for the gaff please</ion-card-subtitle>
    </ion-header>
    <ion-card-content>
      <ul>
        <li>
          Milk <ion-checkbox checked={true}><br> <p>Username:Keaner</p></ion-checkbox>
        </li>
        <li>
          Chicken<ion-checkbox checked={true}></ion-checkbox>
        </li>
        <li>
          Bread <ion-checkbox checked={true}> Username:Ossian</ion-checkbox>
        </li>
        <li>
          Eggs <ion-checkbox checked={true}></ion-checkbox>
        </li>
        <li>
           Dishwasher tablets <ion-checkbox></ion-checkbox>
        </li>
        <li>
          Washing Up liqud <ion-checkbox ></ion-checkbox>
       </li>
       <li>
        Laundry Conditoner <ion-checkbox></ion-checkbox>
      </li>
      <li>
         Few Minerals for the fridge <ion-checkbox></ion-checkbox>
      </li>
      <li>
         Hunky Doreys(Big Bag)<ion-checkbox ></ion-checkbox>
     </li>

    </ul>
    </ion-card-content>
  </ion-card>
 
  <ion-fab horizontal="end" vertical="bottom" slot="fixed"
  (click)="gotoAddToList()">
    <ion-fab-button >
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>

</ion-fab>
</ion-content>