<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content class="description">
      You can add a member by scanning their unique QR code. This code is 
      generated in the 'profile' page
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" shape="round" (click)="scanCode()">
    Add Member
  </ion-button>

  <ion-button expand="block" shape="round">
    Edit House Details
  </ion-button>

  <ion-button expand="block" shape="round" color="danger" (click)="deleteHouse()">
    Delete House
  </ion-button>

</ion-content>
